<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us page html</title>
</head>

<body>
  <!-- place your nav bar here -->
  <div class="navbar">
    ABOUT US
  </div>

  <div class="container">

    <div class="wrapper">
      <div class="hr">
        <hr>
        <h2>Our Mission</h2>
        <hr>
      </div>

      <p class="mission-txt">Is to help prepare outstanding educators,scholars,and researchers and to advance profession of education,as broadly defined,through research on the business art of teaching and learning,the application of business processes,the effective use of Technology,and the analysis and development of leadership and educational policy.</p>
            

    </div>

    <div class="wrapper">
      <h2>About</h2>
      <div>
        <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/teaching.png" alt="img">
        <p>Vision Star Training Institute,is a middle-level college that strives to be the college of its community, by providing high quality, affordable, and accessible education to a diverse population.<p>
          <p>Vision Star Training Institute enhances the strengths of individuals through Higher Diploma, Diploma, Craft Certificate, Artisan and lifelong learning programmes that lead to University transfer, employment, and an enriched awareness of our shared responsibilities as global citizens towards vision 2030.</p>

      </div>
    </div>

    <div class="wrapper">
      <h2>Faculties</h2>
      <div class="faculties">
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Director.jpg" alt="">
          <p>winfridah Mideva, Director</p>
          <p>Our college cares for the individual development of each and every student. We follow “mentor system” under which each class is put into the multi-pronged web of a teacher. We accord prime importance to the behavioral discipline, moral integrity and cognitive developments of our students. Departments of Youth Welfare, NSS, Physical Education, Career Guidance Cell, Readers Forum, Red Cross Society, Red Ribbon Club and Centre for Women Empowerment offer integrated services for the multi –facetted developments of our students. Our teachers strive to teach not only academic programmes but also life skills needed for students’ self development with highly resourceful faculty.</p>

           <p> I wish the best of fortune, peace and prosperity to all those who contribute to the noble task of spreading education and its manifest qualities, aims and objectives.</p>

        </div>
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Principal.jpg" alt="">
          <p>Robert Mutalii, Principal</p>
          <p>In order to accomplish our vision and mission, we are prepared to take as much effort as possible for the betterment of academic scenario in Africa. We believe that education is an effective medium of social transformation. We get encouragement, looking at bright and successful careers of our thousands of students, which subsequently benefit the society. We feel proud that we are part of such an excellent institute, which is shaping modern Africa.</p> 

        <p> Vision Stars Training Institute endowed with progressive futuristic outlook aims continual growth in the quality of all academic activities with a sense of commitment to fully meet the expectations of the students, parents and society at large.</p>

        </div>
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/vice-principal.jpg" alt="">
          <p>Erick John, Vice Principal</p>
          <p>Education is the manifestation of love and my most cherished possession. Education drives away ignorance and through illumination it emboldens a man to a righteous thought and action. It empowers a woman and enlarges the horizon of her mind. It energizes a society and enables a man to earn his living with respect and praise. Hence my love for it.</p>

          <p>I am greatly rejoiced and proudly place on record the fact that Selvamm Arts and Science College, the visionary dream of its founder Chairman Dr. V.Selvaraj – a humble servant of education whose little mission a decade ago to transform a small college into a big one, has unfolded into an institution of glorious past and great future.</p>
        </div>
      </div>
    </div>

  </div>
</body>

</html>