/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: royalblue;
    margin: 0;
    padding: 0;
  }
footer
{
    padding: auto ;
    color: white;
    background-color: darkblue;
    font-style: italic;
}
menu
{
    position: fixed;
 
    right: 0;
 
    left: 0;
 
    z-index: 999;
}