<section class="home">
    <img src="../../assets/backgroud.jpg">


<div class="homecontent">
    <h1>Start Learning for a Vision</h1>
    <a href=" courses" class="btn btn-lg btn-light" >Discover Courses</a>  &nbsp;
    <a href=" join-now" class="btn btn-lg btn-primary">Join Now</a>
</div>    
    <div class="container">
      <div class="row">

            <div class="col"><h3 >OUR MISSION</h3>
                <p>Is to help prepare outstanding educators,scholars,and researchers and to advance profession of education,as broadly defined,through research on the business art of teaching and learning,the application of business processes,the effective use of Technology,and the analysis and development of leadership and educational policy.</p>
            </div>
            <div class="col"><h3 >OUR VISION</h3>
                <p>Our vision is to strive to be the college of its community,by providing high quality,affordable and accessible education to a diverse population.The college enhances the strengths of individuals through Higher Diploma,Craft Certificate,artisan and lifelong learning programmes that lead to university transfer,employment,and an enriched awareness of our shared responsibilities as global citizens towards vision 2030.</p>
            </div>
            <div class="col"><h3 >CORE VALUES</h3>
                
                    <ul>
                        <li>Creativity and Innovation</li>
                        <li>Professionalism</li>
                        <li>integrity</li>
                        <li>Teamwork</li>
                        <li>discipline</li>
                    </ul>
                
            </div>
     </div>
     
    </div>
   
</section>